<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="no.rkkc.bysykkel" android:versionCode="7" android:versionName="0.5">
    <application android:label="@string/app_name" android:icon="@drawable/launcher_icon">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:label="@string/app_name"
                  android:alwaysRetainTaskState="true" android:name=".views.Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity android:name=".views.Favorites" android:label="@string/app_name"></activity>
    </application>
    
    <uses-sdk android:minSdkVersion="3"/>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <!-- Introduced in API Level 4. Implement when minSdkVersion is bumped to 4 -->
    <!-- supports-screens android:smallScreens="truef"
                      android:normalScreens="true"/-->
                      
</manifest> 